{% extends 'base.html.twig' %}

{% set routeCreerSortie = constant('App\\Controller\\SortieController::ROUTE_CREER_SORTIE') %}
{% set routeAjoutVille = constant('App\\Controller\\VilleController::ROUTE_VILLE_ADD') %}

{% block title %}Ajouter lieu{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau lieu</h1>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Enregistrer"/>
    <a href="{{ path(routeAjoutVille)}}" class="btn btn-primary">Ajouter une nouvelle ville</a>
    <a href="{{ path(routeCreerSortie)}}" class="btn btn-primary">Annule</a>
    {{ form_end(lieuForm) }}
{% endblock %}