{% extends 'base.html.twig' %}

{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}
{% set routeAjoutLieu = constant('App\\Controller\\LieuController::ROUTE_LIEU_ADD') %}

{% block title %}Ajouter Sortie{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Enregistrer"/>
    <a href="{{ path(routeAjoutLieu)}}" class="btn btn-primary">Ajouter un nouveau lieu</a>
    <a href="{{ path(routeSortie)}}" class="btn btn-primary">Quitter</a>
    {{ form_end(sortieForm) }}
{% endblock %}