{% extends 'base.html.twig' %}

{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}

{% block title %}Annulation de la sortie{% endblock %}

{% block body %}
    <h1>Annulation de la sortie</h1>
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>Date et heure de la sortie : {{ sortie.dateDebut|date("d/m/Y h:i:s") }}</p>
    <p>Ville organisatrice : {{ sortie.lieu.ville.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Enregistrer"/>
    <a href="{{ path(routeSortie)}}" class="btn btn-primary">Quitter</a>
    {{ form_end(sortieForm) }}
{% endblock %}