{% extends 'base.html.twig' %}

{% set routeAfficherProfil = constant('App\\Controller\\ProfilController::ROUTE_AFFICHER_PROFIL') %}
{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}

{% block title %}Detail d'une sortie{% endblock %}

{% block body %}
    <h1>Detail d'une sortie</h1>
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>Date et heure de la sortie : {{ sortie.dateDebut|date("l, d-M-y H:i:s T") }}</p>
    <p>Date limite d'inscription : {{ sortie.dateCloture|date("l, d-M-y H:i:s T") }}</p>
    <p>Nombre de place : {{ sortie.nbInscriptionsMax }}</p>
    <p>Durée : {{ sortie.duree }} min</p>
    <p>Description et infos : {{ sortie.descriptionInfos }}</p>
    <p>Ville organisatrice : {{ sortie.lieu.ville.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Latitude : {{ sortie.lieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
    <h2>Liste des participants inscrits</h2>
    {% for participant in sortie.participants %}
    <ul>
        <li><a href="{{path(routeAfficherProfil, {'id':participant.id}) }}">{{ participant.nom }} alias {{ participant.pseudo }}</a></li>
    </ul>
    {% endfor %}
    <a type="button" class="btn btn-info" href="{{path(routeSortie)}}">retour</a>

    <a type="button" class="btn btn-danger" href="{{path(constant('App\\Controller\\SortieController::ROUTE_MODIFIED_SORTIE'), {'id':sortie.id}) }}">Modifier</a>
{% endblock %}