{% extends 'base.html.twig' %}

{% set routeAfficherProfil = constant('App\\Controller\\ProfilController::ROUTE_AFFICHER_PROFIL') %}
{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}

{% block title %}Detail d'une sortie{% endblock %}

{% block body %}
    <h1>Detail d'une sortie</h1>
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>Date et heure de la sortie : {{ sortie.datedebut|date("l, d-M-y H:i:s T") }}</p>
    <p>Date limite d'inscription : {{ sortie.datecloture|date("l, d-M-y H:i:s T") }}</p>
    <p>Nombre de place : {{ sortie.nbinscriptionsmax }}</p>
    <p>Durée : {{ sortie.duree }} min</p>
    <p>Description et infos : {{ sortie.descriptioninfos }}</p>
    <p>Ville organisatrice : {{ sortie.lieuxNoLieu.villesNoVille.nomVille }}</p>
    <p>Lieu : {{ sortie.lieuxNoLieu.nomLieu }}</p>
    <p>Rue : {{ sortie.lieuxNoLieu.rue }}</p>
    <p>Code postal : {{ sortie.lieuxNoLieu.villesNoVille.codePostal }}</p>
    <p>Latitude : {{ sortie.lieuxNoLieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieuxNoLieu.longitude }}</p>
    <h2>Liste des participants inscrits</h2>
    {% for s in sortie.participantsNoParticipant %}
    <ul>
        <li><a href="{{path(routeAfficherProfil, {'id':s.noParticipant}) }}">{{ s.nom }} alias {{ s.pseudo }}</a></li>
    </ul>
    {% endfor %}
    <a type="button" class="btn btn-primary" href="{{path(routeSortie)}}">Annuler</a>
{% endblock %}