{% extends 'base.html.twig' %}

{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}
{% set routeAfficherProfil = constant('App\\Controller\\ProfilController::ROUTE_AFFICHER_PROFIL') %}
{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}
{% set routeInvite = constant('App\\Controller\\SortieController::ROUTE_SORTIE_INVITE') %}

{% block title %}Detail d'une sortie{% endblock %}

{% block body %}
    <h1 class="display-1 text-center">Detail de la sortie</h1>
    <img  src="{{ asset('uploads/profilePics/'~sortie.urlPhoto) }}" alt=""  style="width: 100px; height: auto"/>
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>Date et heure de la sortie : {{ sortie.dateDebut|format_datetime(locale='fr') }}</p>
    <p>Date limite d'inscription : {{ sortie.dateCloture|format_datetime(locale='fr') }}</p>
    <p>Nombre de place : {{ sortie.nbInscriptionsMax }}</p>
    <p>Durée : {{ sortie.duree }} min</p>
    <p>Description et infos : {{ sortie.descriptionInfos }}</p>
    <p>Ville organisatrice : {{ sortie.lieu.ville.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Latitude : {{ sortie.lieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
    <h2>Liste des participants inscrits</h2>
    {% for participant in sortie.participants %}
    <ul>
        <li>
            <a href="{{path(routeAfficherProfil, {'id':participant.id}) }}">{{ participant.nom }} alias {{ participant.pseudo }}</a>
        </li>

    </ul>
    {% endfor %}

    <h2>Inviter un utilisateur</h2>
    {% for utilisateur in nonInscrit %}
        <ul>
            <li>
                <a href="{{path(routeAfficherProfil, {'id':utilisateur.id}) }}">{{ utilisateur.nom }} alias {{ utilisateur.pseudo }}</a>

                <a class="btn btn-primary" href="{{ path(routeInvite, {'idSortie': sortie.id, 'id':utilisateur.id  }) }}">envoyer une invitation par mail</a>
            </li>

        </ul>
    {% endfor %}
    {% set inscrit = "" %}
    {% for participant in sortie.participants %}
        {% if participant.id == idUserCourant %}
            {% set inscrit = 'X' %}
        {% endif %}
    {% endfor %}

    {% if (inscrit == 'X') %}
        {% if sortie.etat.libelle not in ['Annulée','Archivée','Terminée','Cloturée','En cours'] %}
            <a href="{{ path(constant('App\\Controller\\SortieController::ROUTE_DESINSCRIPTION_SORTIE'), {'id':sortie.id}) }}">
                <input type="button" class="btn btn-danger" value="se désinscrire">
            </a>
        {% endif%}
    {% else %}
        {% if sortie.etat.libelle not in ['Annulée','Archivée','Terminée','Cloturée','En cours'] %}
            <a href="{{ path(constant('App\\Controller\\SortieController::ROUTE_INSCRIPTION_SORTIE'), {'id':sortie.id}) }}">
                <input type="button" class="btn btn-primary" value="s'inscrire">
            </a>
        {% endif%}
    {% endif %}
    <a type="button" class="btn btn-secondary" href="{{path(routeSortie)}}">retour</a>
    {% if sortie.organisateur.id == idUserCourant %}
        {% if sortie.etat.libelle not in ['Annulée','Archivée','Terminée','Cloturée','En cours'] %}
            <a type="button" class="btn btn-warning" href="{{path(constant('App\\Controller\\SortieController::ROUTE_MODIFIED_SORTIE'), {'id':sortie.id}) }}">Modifier</a>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') and sortie.etat.libelle not in ['Annulée','Archivée','Terminée'] %}
        <a type="button" class="btn btn-danger" href="{{path(constant('App\\Controller\\SortieController::ROUTE_ANNULE_SORTIE'), {'id':sortie.id}) }}">Annuler</a>
    {% endif %}
{% endblock %}