{% extends 'base.html.twig' %}

{% set routeDetail = constant('App\\Controller\\SortieController::ROUTE_DETAIL_SORTIE') %}
{% set routeModified = constant('App\\Controller\\SortieController::ROUTE_MODIFIED_SORTIE') %}

{% block title %}Filtrer les sorties{% endblock %}
{% block subtitle %}Filtrer les sorties{% endblock %}

{% block body %}
 {# 'sortieOrgan'=>$sortieOrgan,
            'sortieNonInscit'=>$sortieNonInscit,
            'sortiePasse'=>$sortiePasse,
            'sortieInscit'=>$sortieInscit #}

    </form>
    <form method="post" action="{{path(constant('App\\Controller\\SortieController::ROUTE_SORTIE_RECHERCHER'))}}">
        <div class="row mt-3">
            <div class="col-4">
                <div>
                    <input type="checkbox" name="sortieOrgan" id="sortieOrgan"           
                    {% if sortieOrgan is defined and sortieOrgan is not null %}
                        checked
                    {% endif %}
                    >
                    <label for="sortieOrgan">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div>
                    <input type="checkbox" name="sortieInscit" id="sortieInscit"
                    {% if sortieInscit is defined and sortieInscit is not null %}
                        checked
                    {% endif %}
                    >
                    <label for="sortieInscit">Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" name="sortieNonInscit" id="sortieNonInscit"
                    {% if sortieNonInscit is defined and sortieNonInscit is not null %}
                        checked
                    {% endif %}
                    >
                    <label for="sortieNonInscit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" name="sortiePasse" id="sortiePasse"
                    {% if sortiePasse is defined and sortiePasse is not null %}
                        checked
                    {% endif %}
                    >
                    <label for="sortiePasse">Sorties passées</label>
                </div>

            </div>
            <div class="col-4">
                <div>
                    <input class="btn btn-primary" type="submit" value="Rechercher">
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <div class="col-sm d-flex justify-content-center">
            <table id="table_id" class="display responsive table table-striped" width="100%">
                <thead>
                    <tr>
                        <th class="invisible">Id</th>
                        <th>Nom</th>
                        <th>Date début</th>
                        <th>Date clôture</th>
                        <th>Nombre inscrit/nombre max</th>
                        <th>Etat sortie</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>

                <tr id="research">
                    <th class="invisible">Id</th>
                    <th>Nom</th>
                    <th>Date début</th>
                    <th>Date clôture</th>
                    <th>Nombre inscrit/nombre max</th>
                    <th>Etat sortie</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                <tbody>
                    {% for sortie in lesSorties %}

                    <tr>
                        <td class="invisible">{{ sortie.id }}</td>
                        <td>{{sortie.nom}}</td>
                        <td>{{sortie.dateDebut|date("d/m/Y")}}</td>
                        <td>{{sortie.dateCloture|date("d/m/Y")}}</td>
                        <td>{{sortie.participants | length}}/{{sortie.nbInscriptionsMax}}</td>
                        <td>{{sortie.etat.libelle}}</td>
                        {% set inscrit = "" %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == idUserCourant %}
                                {% set inscrit = 'X' %}
                            {% endif %}
                        {% endfor %}
                        <td>{{inscrit}}</td>

                        <td><a href="{{path('afficherProfile', {'id':sortie.organisateur.id}) }}">{{sortie.organisateur.prenom}} {{sortie.organisateur.nom}}</a></td>
                        <td>
                            {% if (inscrit == 'X') %}
                                {% if sortie.etat.libelle not in ['Annulée','Archivée','Terminée','Cloturée'] %}
                                <a href="{{ path(constant('App\\Controller\\SortieController::ROUTE_DESINSCRIPTION_SORTIE'), {'id':sortie.id}) }}">
                                    <input type="button" class="btn btn-danger" value="se désinscrire">
                                </a>
                                {% endif%}
                            {% else %}
                                {% if sortie.etat.libelle not in ['Annulée','Archivée','Terminée','Cloturée'] %}
                                <a href="{{ path(constant('App\\Controller\\SortieController::ROUTE_INSCRIPTION_SORTIE'), {'id':sortie.id}) }}">
                                    <input type="button" class="btn btn-primary" value="s'inscrire">
                                </a>
                                {% endif%}
                            {% endif %}
                        </td>
                    </tr> 
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

 <script>

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#table_id #research th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#table_id').DataTable({

        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
            this.api().columns(0).every( function () {
              var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            });
        },

        "responsive": true,
        "info": false,
        "autoWidth": true,
        rowId: 0
    });

    $('#TableauRapport').DataTable().columns.adjust().draw();

    $('#table_id').on('click', 'tr' , function (){
        let id = this.id;

        if ((id !== null || true) && !isNaN(id)) {
            id = parseInt(id);

            if (Number.isInteger(id)) {
                //location.href = `/sortie/${id}`;
                urlPageActuelle=self.location.href;
                location.href = `${urlPageActuelle}/${id}`;
            }
        }
    });

    $("#table_id tr ").hover(
        function() {
            if ($(this).hasClass('odd') || $(this).hasClass('even')) {
                $(this).css("color", 'red');
            }

        }, function() {
            $(this).css("color", 'black');
        }
    );
});
 </script>

{% endblock %}
