{% extends 'base.html.twig' %}

{% block title %}Filtrer les sorties{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <h1>Filtrer les sorties</h1>
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date début</th>
            <th>Date clôture</th>
            <th>Nombre inscrit/nombre max</th>
            <th>Etat sortie</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sortie in lesSorties %}
           <tr>
           
                <td>{{sortie.nom}}</td>
                {# <td>{{sortie.datedebut}}</td>
                <td>{{sortie.datecloture}}</td> #}
                <td>{{sortie.datedebut|date("d/m/Y")}}</td>
                <td>{{sortie.datecloture|date("d/m/Y")}}</td>
                <td>nombre inscrit/{{sortie.nbinscriptionsmax}}</td>
                <td>{{sortie.etatsNoEtat.libelle}}</td>
                <td>si inscrit</td>
                <td>{{sortie.organisateur.prenom}}</td>
                <td>action</td>
           </tr> 
        {% endfor %}

    </tbody>
</table>
 <script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
 </script>       
{% endblock %}
