{% extends 'base.html.twig' %}

{% block title %}Filtrer les sorties{% endblock %}
{% block subtitle %}Filtrer les sorties{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date début</th>
                        <th>Date clôture</th>
                        <th>Nombre inscrit/nombre max</th>
                        <th>Etat sortie</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>
                
                </thead>
                <tbody>
                    {% for sortie in lesSorties %}
                    <tr>
                        <td>{{sortie.nom}}</td>
                        <td>{{sortie.dateDebut|date("d/m/Y")}}</td>
                        <td>{{sortie.dateCloture|date("d/m/Y")}}</td>
                        <td>{{sortie.participants | length}}/{{sortie.nbInscriptionsMax}}</td>
                        <td>{{sortie.etat.libelle}}</td>
                        {% set inscrit = "" %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == idUserCourant %}
                                {% set inscrit = 'X' %}
                            {% endif %}
                        {% endfor %}
                        <td>{{inscrit}}</td>

                        <td><a href="{{path('afficherProfile', {'id':sortie.organisateur.id}) }}">{{sortie.organisateur.prenom}}</a></td>
                        <td>
                            <a href="{{ path(constant('App\\Controller\\SortieController::ROUTE_INSCRIPTION_SORTIE'), {'id':sortie.id}) }}">
                                <input type="button" class="btn btn-primary" value="s'inscrire">
                            </a>

                        </td>
                    </tr> 
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr id="research">
                        <th>Nom</th>
                        <th>Date début</th>
                        <th>Date clôture</th>
                        <th>Nombre inscrit/nombre max</th>
                        <th>Etat sortie</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

 <script>

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#table_id #research th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#table_id').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
            this.api().columns(0).every( function () {
              var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            });
        },
        "responsive": true,
        "info": false,
        "autoWidth": true,
    });

    $('#TableauRapport').DataTable().columns.adjust().draw();
} );
 </script>  
 
      
{% endblock %}
