{% extends 'base.html.twig' %}

{% set routeAnnuleSortie = constant('App\\Controller\\SortieController::ROUTE_ANNULE_SORTIE') %}
{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    <h1 class="display-1 text-center">Modifier la sortie</h1>
    <img  src="{{ asset('uploads/profilePics/'~sortie.urlPhoto) }}" alt=""  style="width: 100px; height: auto"/>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Comfirmer"/>
    <a href="{{ path(routeAnnuleSortie,{'id':id}) }}" class="btn btn-danger">Annuler la sortie</a>
    <a href="{{ path(routeSortie)}}" class="btn btn-primary">Retour</a>
    {{ form_end(sortieForm) }}


{% endblock %}