{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Enregistrer"></input>
    <a href="{{ path('sortie_annule',{'id':id}) }}" class="btn btn-primary" class="button">Annuler la sortie</a>
    <a href="{{ path('app_sortie')}}" class="btn btn-primary" class="button">Quitter</a>
    {{ form_end(sortieForm) }}
{% endblock %}