{% set route = app.request.get('_route') %}

{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}
{% set routeAdmin = constant('App\\Controller\\AdministrationController::ROUTE_ADMIN') %}

{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}

{% set routeModiferProfil = constant('App\\Controller\\ProfilController::ROUTE_MODIFIER_PROFIL') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path(routeSortie) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check d-inline-block align-text-top" viewBox="0 0 16 16">
                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            AppSorties
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link 
                            {% if route == routeAdmin %}
                                active 
                            {% endif %}"
                            aria-current="page"
                            href="{{ path(routeAdmin) }}">
                            Administration
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link 
                            {% if route == routeSortie %}
                                active
                            {% endif %}"
                            aria-current="page"
                            href="{{ path(routeSortie) }}">
                            Sorties
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                            {% if route == routeModiferProfil %}
                                active
                            {% endif %}"
                           aria-current="page"
                           href="{{ path(routeModiferProfil) }}">
                            {{ constant('App\\Controller\\ProfilController::ROUTE_NAME_MODIFIER_PROFIL') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>